@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  
  /* Primary */
  
  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
  
  /* Dark Theme */
  
  --background: hsl(235, 21%, 11%);
  --To-Do-bg: hsl(235, 24%, 19%);
  --Text-Primary: hsl(234, 11%, 52%);
  --Text-Secondary: hsl(233, 11%, 84%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --bg-image-mobile: url('../assets/images/bg-mobile-dark.jpg');
  --bg-image-desktop: url('../assets/images/bg-desktop-dark.jpg');
  
}

/* Defining attribute selector to element with data-theme on it*/
[data-theme='light'] {
  /* Light Theme */
  
  --background: hsl(0, 0%, 98%);
  --To-Do-bg: hsl(236, 33%, 92%);
  --Text-Primary: hsl(240, 16%, 22%);
  --Text-Secondary: hsl(237, 14%, 26%);
  --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
  --bg-image-mobile: url('../assets/images/bg-mobile-light.jpg');
  --bg-image-desktop: url('../assets/images/bg-desktop-light.jpg');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}

body {
  background-color: var(--background);
}

main {
  background-color: var(--background);
  background-image: var(--bg-image-mobile);
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--Text-Secondary);
  transition: all 0.5s ease-in-out;
}

main h2 {
  color: white;
  font-family: sans-serif;
}

h4 {
  color: var(--Text-Primary);
}

.custom-input {
  background-color: var(--To-Do-bg);
  color: var(--Text-Primary);
}

.todo-item {
  background-color: var(--To-Do-bg);
}

.circle-item {
  border-color: var(--Text-Primary);
}

.todo-item-completed {
  color: var(--Text-Primary);
}

.bottom-display-options, .bottom-menu {
  background-color: var(--To-Do-bg);
  color: var(--Text-Primary);
}

.todo-wrapper button:hover {
  color: var(--Bright-Blue);
}

/* Footer Style */
.attribution { font-size: 11px; text-align: center;}
.attribution a { color: var(--Bright-Blue); }

/* Responsive Design */
@media screen and (min-width: 1440px) {
  main {
    background-image: var(--bg-image-desktop);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
